.block {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.block.active {
  background: #ebebeb;
}

.block:hover {
  background: #f5f5f5;
}

.block .imgbx {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.block .details {
  position: relative;
  width: 100%;
}

.block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.block .details .listHead h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: #111111;
}

.block .details .listHead .time {
  font-size: 0.75rem;
  color: #aaaaaa;
}

.block .details .listHead .time {
  color: #111111;
}

.block.unread .details .listHead .time {
  color: #06d755;
}

.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_p p {
  color: #aaaaaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message_p b {
  background: #06d755;
  color: #ffffff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}

.imgText h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgText h4 span {
  font-size: 0.8em;
  color: #555555;
}
