.userImg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.nav_icons {
  display: flex;
}

.nav_icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  margin-left: 22px;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.search_chat div {
  width: 100%;
}

.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #ffffff;
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}

.search_chat div input::placeholder {
  color: #bbbbbb;
}

.search_chat div img {
  position: absolute;
  left: 30px;
  top: 14px;
}
