.login-container {
  width: 80%;
  min-height: 50vh;
  display: flex;
}

.login-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.login-info h1 {
  font-size: 2.625rem;
  font-weight: bold;
  color: #009688;
}

.login-form {
  flex: 1;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03), -2px -2px 2px rgba(0, 0, 0, 0.03);
}

.login-input-wrapper {
  width: 80%;
  background: #d9dbd5;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  border-radius: 5px;
  padding: 0 1rem;
}

.login-input-wrapper input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.login-input-wrapper input::placeholder {
  font-size: 1.25rem;
  color: #009688;
  font-weight: 600;
}

.dont-have-account {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.dont-have-account p {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #009688;
}

.login-button {
  width: 80%;
  height: 3.125rem;
  border: none;
  border-radius: 5px;
  background: #009688;
  cursor: pointer;
  color: #edf6f5;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .login-info {
    display: none;
  }
}
